$title-large: 3rem;
$title-middle: 2.5rem;
$title-mobile: 2rem;

$text-large: 2rem;
$text-middle: 2rem;
$text-mobile: 1.5rem;

$sub-text-large: 1.8rem;
$sub-text-middle: 1.4rem;
$sub-text-mobile: 1.4rem;