@import "../components/header";
@import "../components/form-search";
@import "../components/theme";
@import "../components/todos";

.page-application {
  &__title {
    color: #7a7a7a;
    font-size: $text-large;
    text-align: center;
    padding: 25px;

    @include respond-to(middle){
      font-size: $text-middle;
      padding: 20px;
    }

    @include respond-to(mobile){
      font-size: $text-mobile;
      padding: 15px;
    }

    &-name {
      color: #000000;
      font-size: inherit;
      text-transform: uppercase;
    }

  }

  &__controls {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 15px;
    flex-wrap: wrap-reverse;

    @include respond-to(middle){
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }



  }
  &__form-search {
    margin-left: auto;
    flex-shrink: 0;
  }

  &__theme {
    margin-right: auto;
    flex-shrink: 0;
  }

  &__btn {
    border: 1px solid #6c85a2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../../assets/plus.png");
    background-color: #6c85a2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin: 20px 30px 0 auto;

    @include respond-to(middle){
     width: 70px;
      height: 70px;
    }
  }

}